@import '/src/style/variables';

.self {
  padding: 10px;
  @media (min-width: $sm) {
    padding: 20px;
  }
}
.item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.record {
  margin: 10px 0;
}
.text-area {
  width: 100%;
  margin: 5px 0 -15px 0;
}
.create {
  background-color: $pale-blue;
}
