.self {
  width: 250px;
  height: 100vh;
  font-size: 24px;
}
.menu {
  padding: 40px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    outline: transparent;
  }
}
