<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading && user && !isEdit" class="self">
  <div class="header">我的檔案</div>
  <div class="table">
    <div>
      <div class="title">名字</div>
      <div>{{ user.name }}</div>
    </div>
    <div>
      <div class="title">聯絡方式</div>
      <div>
        <span *ngIf="!isVerified()" class="status">{{ displayStatus() }}</span
        >{{ user.phone }}
      </div>
    </div>
    <div>
      <div class="title">生日</div>
      <div>{{ user.birthday }}</div>
    </div>
    <div>
      <div class="title">身份</div>
      <div class="role">{{ getRole(user.role) }}</div>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" type="button" (click)="onClick()">
      修改基本資料
    </button>
    <button *ngIf="isAdmin()" mat-raised-button color="warn" type="button" (click)="onClickAdmin()">
      管理員頁面
    </button>
    <button mat-stroked-button color="primary" type="button" (click)="onLogout()">登出</button>
  </div>
  <hr />
  <mat-tab-group animationDuration="0ms" selectedIndex="{{ selectedIndex }}">
    <mat-tab label="群組"
      ><ng-template matTabContent
        ><div *ngIf="myGroup.length === 0">無資料</div>
        <div *ngFor="let group of myGroup" class="group">
          <div>報名單位: {{ group.group.star ? group.group.star.name : '志工' }}</div>
          <div class="member">
            <div>成員:</div>
            <div *ngFor="let member of group.group.user">{{ member.name }}</div>
          </div>
        </div>
        <div>如群組資料有誤，請聯絡我們</div></ng-template
      ></mat-tab
    >
    <mat-tab label="報名的出遊"
      ><ng-template matTabContent
        ><div *ngIf="joinedTrips.length === 0">無資料</div>
        <div *ngFor="let trip of joinedTrips" class="card" (click)="onTripClick(trip.id)">
          <div>日期: {{ getDate(trip.startDatetime) }} ~ {{ getTime(trip.endDatetime) }}</div>
          <div>地點: {{ trip.place }}</div>
          <div>報名單位: {{ trip.group.star ? trip.group.star.name : '志工' }}</div>
          <div>抽籤結果: {{ getResult(trip.result) }}</div>
        </div></ng-template
      ></mat-tab
    >
    <mat-tab label="主辦的出遊"
      ><ng-template matTabContent>
        <div *ngIf="myTrips.length === 0">無資料</div>
        <div *ngFor="let trip of myTrips" class="card" (click)="onTripClick(trip.id)">
          <div>日期: {{ getDate(trip.startDatetime) }} ~ {{ getTime(trip.endDatetime) }}</div>
          <div>地點: {{ trip.place }}</div>
        </div></ng-template
      ></mat-tab
    >
  </mat-tab-group>
</div>
<app-user-form
  (formSubmit)="onFormSubmit($event)"
  (updateCancel)="onCancel()"
  [user]="user"
  *ngIf="!isLoading && (!user || isEdit)"
>
</app-user-form>
