<form class="form" [formGroup]="addGroupForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input">
    <mat-label>使用者 ID</mat-label>
    <input matInput formControlName="userId" autocomplete="off" />
  </mat-form-field>
  <mat-checkbox [checked]="hasStar" (change)="hasStar = !hasStar">是否為星兒群組</mat-checkbox>
  <mat-form-field *ngIf="hasStar" class="input">
    <mat-label>星兒</mat-label>
    <mat-select formControlName="starId">
      <mat-option *ngFor="let star of stars" [value]="star.id"
        >{{ star.name }} ({{ star.nickname }})</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-raised-button [disabled]="isSubmitting">新增群組</button>
</form>
<button mat-icon-button (click)="onRefresh()">
  <mat-icon>refresh</mat-icon>
</button>
<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>哥姐志工</mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let partnerGroup of partnerGroups" class="flex">
      <div>{{ partnerGroup.user[0].name }}</div>
      <div>{{ partnerGroup.user[0].phone }}</div>
      <button
        mat-icon-button
        (click)="onDelete(partnerGroup.id, partnerGroup.user[0].id)"
        [disabled]="isSubmitting"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let starGroup of starGroups">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ starGroup.star?.name }}</mat-panel-title>
      <mat-panel-description class="flex">
        <div>{{ starGroup.star?.nickname }}</div>
        <div>{{ starGroup.star?.birthday }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let user of starGroup.user" class="flex">
      <div>{{ user.name }}</div>
      <div>{{ user.phone }}</div>
      <button mat-icon-button (click)="onDelete(starGroup.id, user.id)" [disabled]="isSubmitting">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <mat-form-field class="input">
        <mat-label>User ID</mat-label>
        <input matInput (input)="onInput($event, starGroup.id)" />
      </mat-form-field>
      <button mat-icon-button (click)="onAdd(starGroup.id)" [disabled]="isSubmitting">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
