$black-08: #00000014;
$black-10: #0000001a;
$black-30: #0000004d;
$blue: #0000ff;
$line-green: #06c755;
$grey: #6c757d;
$grey-40: #6c757d66;
$pale-grey: #acb9c5;
$pale-blue: #cfe2f3;
$pale-green: #d9ead3;
$pale-green-40: #d9ead366;
$orange: #e05200;
$light-grey: #efefef;
$pale-red: #f4cccc;
$pale-orange: #fce5cd;
$snow: #fcfcfc;
$red: #ff0000;
$pale-yellow: #fff2cc;
$cream: #fffdcf;
$white: #ffffff;
