// break-point
$sm: 600px;
$md: 840px;
$lg: 1024px;
$xl: 1280px;

// color
$black-08: #00000014;
$black-10: #0000001a;
$black-30: #0000004d;
$line-green: #06c755;
$grey-40: #6c757d66;
$light-grey: #efefef;
$snow: #fcfcfc;
$red: #ff0000;
$orange: #e05200;
$cream: #fffdcf;
$white: #ffffff;

// theme
$navbar: $cream;
$background: $snow;
