@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
