.button {
  text-align: right;
  margin-bottom: 8px;
}
.card {
  border-radius: 5px;
  background-color: var(--trips-card);
  margin: 8px 0;
  padding: 8px;
  .ad {
    border: 1px solid var(--trips-card-ad);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--trips-card-ad-background);
  }
}
