table {
  width: 100%;
}
.mat-column-name {
  white-space: nowrap;
  padding: 0 5px;
}
.mat-column-phone {
  white-space: nowrap;
  padding: 0 5px;
}
.mat-column-birthday {
  white-space: nowrap;
  padding: 0 5px;
}
.mat-column-role {
  white-space: nowrap;
  padding: 0 5px;
}
.mat-column-status {
  white-space: nowrap;
  padding: 0 5px;
}
.mat-column-dateUpdated {
  white-space: nowrap;
  padding: 0 5px;
}
.mat-column-edit {
  text-align: right;
  white-space: nowrap;
  padding: 0 5px;
}
