<div class="self">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="使用者"
      ><ng-template matTabContent><app-user-management></app-user-management></ng-template
    ></mat-tab>
    <mat-tab label="群組"
      ><ng-template matTabContent><app-group-management></app-group-management></ng-template
    ></mat-tab>
    <mat-tab label="出遊"
      ><ng-template matTabContent><app-trip-management></app-trip-management></ng-template
    ></mat-tab>
    <mat-tab label="星兒"
      ><ng-template matTabContent><app-star-management></app-star-management></ng-template
    ></mat-tab>
  </mat-tab-group>
</div>
