@import '/src/style/variables';

.self {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  background-color: $light-grey;
}
.hint {
  margin-bottom: 10px;
}
.button {
  display: flex;
  justify-content: center;
  gap: 10px;
  > button {
    font-size: 16px;
  }
}
