<div class="self">
  <div class="menu" *ngIf="!isBiggerThanMd" (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="title">
    <div routerLink="/"><b>Lucky Star Trip。星遊</b></div>
  </div>
  <div class="pages" *ngIf="isBiggerThanMd">
    <div routerLink="/"><mat-icon>home</mat-icon>首頁</div>
    <div routerLink="/trips"><mat-icon>event</mat-icon>出遊清單</div>
    <div routerLink="/questions"><mat-icon>contact_support</mat-icon>常見問題</div>
    <div routerLink="/user"><mat-icon>person</mat-icon>使用者</div>
  </div>
</div>
