<app-spinner *ngIf="!lineUserProfile || !lineChannelUrl"></app-spinner>
<div class="user-page" *ngIf="lineUserProfile && lineChannelUrl">
  <div uk-grid class="head">
    <h1 class="uk-width-expand">個人資料</h1>
    <div class="uk-wdith-auto">
      <button class="uk-button" (click)="onLogout()">登出</button>
    </div>
  </div>
  <div uk-grid>
    <div class="uk-width-auto">
      <img
        class="user-picture"
        src="{{ lineUserProfile.pictureUrl }}"
        alt=""
        width="80"
        height="80"
      />
    </div>
    <div class="uk-width-expand card" uk-grid>
      <div class="uk-width-3-4">有任何問題歡迎隨時傳訊息給 Line 官方帳號</div>
      <div class="uk-width-1-4">
        <a href="{{ lineChannelUrl }}"
          ><img src="assets/line-messenger.svg" alt="加入好友"
        /></a>
      </div>
    </div>
  </div>
  <div class="uk-divider-small"></div>
  <div uk-grid>
    <div class="uk-width-1-4 bold">LINE名稱</div>
    <div class="uk-width-3-4 right">{{ lineUserProfile.displayName }}</div>
    <div class="uk-width-1-4 bold">名字</div>
    <div class="uk-width-3-4 right">{{ user.name }}</div>
    <div class="uk-width-1-4 bold">身份</div>
    <div class="uk-width-3-4 right">{{ getRole(user.role) }}</div>
    <div class="uk-width-1-4 bold">生日</div>
    <div class="uk-width-3-4 right">{{ user.birthday }}</div>
  </div>
  <div class="uk-divider-small"></div>
</div>
