<div class="user-page" *ngIf="lineUserProfile && lineChannelUrl">
  <div uk-grid class="head">
    <h1 class="uk-width-expand">個人資料</h1>
    <div class="uk-wdith-auto">
      <button class="uk-button" (click)="onLogout()">登出</button>
    </div>
  </div>
  <div uk-grid>
    <div class="uk-width-auto">
      <img
        class="user-picture"
        src="{{ lineUserProfile.pictureUrl }}"
        alt=""
        width="80"
        height="80"
      />
    </div>
    <div class="uk-width-expand card" uk-grid>
      <div class="uk-width-3-4">有任何問題歡迎隨時傳訊息給 Line 官方帳號</div>
      <div class="uk-width-1-4">
        <a href="{{ lineChannelUrl }}"
          ><img src="assets/line-messenger.png" alt="加入好友"
        /></a>
      </div>
    </div>
  </div>
  <div class="uk-divider-small"></div>
  <div uk-grid>
    <div class="uk-width-1-3 bold">LINE名稱</div>
    <div class="uk-width-2-3 right">{{ lineUserProfile.displayName }}</div>
  </div>
  <div *ngIf="!user" class="no-user">
    資料尚未設定，請聯繫星遊的 LINE 官方帳號。可點擊上方的圖示開啟 LINE
  </div>
  <div *ngIf="user" uk-grid>
    <div class="uk-width-1-3 bold">姓名</div>
    <div class="uk-width-2-3 right">{{ user.name }}</div>
    <div class="uk-width-1-3 bold">身份</div>
    <div class="uk-width-2-3 right">{{ getRole(user.role) }}</div>
    <div class="uk-width-1-3 bold" *ngIf="user.role === 'starRain'">
      加入星雨期數
    </div>
    <div class="uk-width-2-3 right" *ngIf="user.role === 'starRain'">
      {{ user.joinSession }}
    </div>
    <div class="uk-width-1-3 bold">聯絡電話</div>
    <div class="uk-width-2-3 right">{{ user.phone }}</div>
  </div>
  <div class="uk-divider-small"></div>
  <div *ngIf="user && user.starInfo">
    <div *ngFor="let star of user.starInfo">
      <div uk-grid>
        <div class="uk-width-1-3 bold" *ngIf="user.role !== 'star'">姓名</div>
        <div class="uk-width-2-3 right" *ngIf="user.role !== 'star'">
          {{ star.name }}
        </div>
        <div class="uk-width-1-3 bold">生日</div>
        <div class="uk-width-2-3 right">{{ getDate(star.birthday) }}</div>
        <div class="uk-width-1-3 bold">年齡</div>
        <div class="uk-width-2-3 right">{{ getAge(star.birthday) }}</div>
      </div>
      <div class="uk-divider-small"></div>
    </div>
  </div>
</div>
