@import '/src/style/variables';

.self {
  height: 100%;
  > div {
    box-sizing: border-box;
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: $light-grey;
    @media (min-width: $sm) {
      width: 500px;
    }
  }
}
.header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.line-button {
  max-width: 250px;
  color: $white;
  background-color: $line-green;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  cursor: pointer;
  .base {
    display: flex;
    align-items: stretch;
    border-radius: 10px;
  }
  .base:hover {
    background-color: $black-10;
  }
  .base:active {
    background-color: $black-30;
  }
  .text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $black-08;
    font-weight: bold;
    padding: 5px;
  }
}
