<table mat-table [dataSource]="trips" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>主辦人</th>
    <td mat-cell *matCellDef="let trip">{{ trip.owner.name }}</td>
  </ng-container>
  <ng-container matColumnDef="place">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>地點</th>
    <td mat-cell *matCellDef="let trip">{{ trip.place }}</td>
  </ng-container>
  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>時間日期</th>
    <td mat-cell *matCellDef="let trip">{{ getDatetime(trip.startDatetime, trip.endDatetime) }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></tr>
</table>
