<div class="home-page">
  <h1>星遊活動</h1>
  <div class="card1 uk-box-shadow-medium">
    <div class="title">目的</div>
    <div
      class="uk-child-width-1-3"
      uk-grid
      uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500"
    >
      <div class="target">
        <img class="icon" src="assets/sync-circle.svg" />
        <div>增加星兒更多的社會互動</div>
      </div>
      <div class="target">
        <img class="icon" src="assets/musical-notes.svg" />
        <div>提供家人適時的喘息服務</div>
      </div>
      <div class="target">
        <img class="icon" src="assets/happy.svg" />
        <div>提供想認識星兒的人互動機會</div>
      </div>
    </div>
  </div>
  <div class="card2 uk-box-shadow-medium">
    <div class="title">活動形式</div>
    <div
      uk-scrollspy="target: > div; cls: uk-animation-slide-right-small; delay: 500"
    >
      <div class="block1">
        <div class="head">與家人同行</div>
        <div>
          哥哥姐姐發起活動，邀請星兒及其家人出遊。出遊時哥哥姐姐可以作為家人的幫手，家人可讓哥哥姐姐與星兒多互動，同時也可以藉此認識哥哥姐姐。
        </div>
      </div>
      <div class="block2">
        <div class="head">與星兒出遊</div>
        <div>
          哥哥姐姐發起活動，邀請星兒跟哥哥姐姐出去玩，家人可以獲得充分的休息。同行的哥哥姐姐之一必須曾經帶過獲邀一同出遊的星兒。
        </div>
      </div>
    </div>
  </div>
  <div class="card3 uk-box-shadow-medium">
    <div class="title">瞭解更多</div>
    <div
      class="uk-child-width-1-2"
      uk-grid
      uk-scrollspy="target: > div; cls: uk-animation-slide-right-small; delay: 500"
    >
      <div class="block">
        <div class="head">星遊社群</div>
        <div class="center">
          <a
            href="https://line.me/ti/g2/khrNOdt3pqlSu7_GafcgrA?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"
            ><img class="icon" src="assets/line-community.png" alt="加入好友"
          /></a>
        </div>
        <div>
          我們會在星遊社群中即時分享新的出遊資訊、抽籤結果等等，點擊上方圖示加入!
        </div>
      </div>
      <div class="block">
        <div class="head">官方帳號</div>
        <div class="center">
          <a href="https://lin.ee/gk8ydMG"
            ><img class="icon" src="assets/line-messenger.png" alt="加入好友"
          /></a>
        </div>
        <div>若您有任何問題，歡迎透過 LINE 官方帳號詢問，點擊上方圖示洽詢!</div>
      </div>
    </div>
  </div>
  <div class="version">目前版本: {{ version }}</div>
</div>
