@import './color';

html[data-theme='light'] {
  --scrollbar: #{$grey-40};

  --landing-card-goal: #{$pale-green};
  --landing-card-method: #{$pale-blue};
  --landing-card-more: #{$pale-orange};

  --navbar-background: #{$pale-yellow};

  --trips-card: #{$pale-orange};
  --trips-card-ad: #{$grey};
  --trips-card-ad-background: #{$white};

  --modal-background: #{$white};
}
